

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

header {
    background-color: #1F2937;
    padding: 20px 200px 150px 200px;
}

#logo {
    font-size: 30px;
    color: #F9FAF8;
    font-weight: bold;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 150px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    color: #e5e7eb;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.hero-left {
    max-width: 550px;
}

.hero-left h1 {
    color: #F9FAF8;
    font-size: 60px;
    font-weight: extra-bold;
    margin-bottom: -10px;
}

.hero-left p {
    color: #e5e7eb;
    font-size: 22px;
}

.hero-left button {
    background-color: #3882F6;
    border-style: none;
    padding: 10px 35px;
    border-radius: 10px;
}

.hero-left a {
    text-decoration: none;
    color: #F9FAF8;
    font-size: 22px;
    font-weight: bold;
}

.info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 200px 150px 200px;
}

.info-section h2 {
    font-size: 45px;
    font-weight: extra-bold;
    color: #1F2937
}

.info-boxes {
    display: flex;
    gap: 100px;
}

.box-text {
    height: 160px;
    width: 160px;
    text-align: center;
}

.box-text p {
    color: #1F2937;
    font-size: 18px;
}

.box-text div {
    height: 150px;
    width: 150px;
    border: #3882F6 4px solid;
    border-radius: 10px;
}

.blockquote {
    background-color: #e5e7eb;
    padding: 100px 250px 100px 250px;
}

blockquote {
    margin: 0;
}

blockquote p {
    font-size: 36px;
    font-style: italic;
    color:#1F2937;
    font-weight: 100;
}

blockquote footer {
    font-size: 22px;
    text-align: end;
    font-style: normal;
}

.cta-section {
    padding: 100px 150px 100px 150px;
}

.container {
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 80px 30px 80px;
    border-radius: 8px;
    max-width: 1200px;
    margin: auto;
}

.cta-content h3 {
    color:#F9FAF8;
    font-size: 30px;
}

.cta-content p {
    color:#e5e7eb;
    font-size: 22px;
}

.cta-button {
    border: solid #F9FAF8;
    padding: 10px 35px;
    border-radius: 10px;

}

.cta-button button {
    background-color: #3882F6;
    border: none;
}

.cta-button a {
    text-decoration: none;
    color: #F9FAF8;
    font-size: 22px;
    font-weight: bold;
}